@import "../styles/vars/colors";

.button {
  -webkit-appearance: none;
  padding: 10px 30px;
  background: $color-dark-grey;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  &:active, &:focus {
    outline: none;
  }
}
