@import 'vars/colors';

.section {
  width: 100%;
  border: 1px solid $color-light-grey;
  text-align: center;
  padding: 100px;

  &.isActive {
    border: 1px solid $color-light-grey;
    background-color: #efefef;
  }
}

.sectionTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 20px auto;
}
