.jsonEditor {
  display: flex;
  flex-direction: column;
}

.editor {
  font-size: 0.8rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  .CodeMirror {
    flex: 1 1 auto;
    overflow: scroll;
  }
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
