.mainLayout {
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #ebf0f2;
}

.main {
  position: relative;
  height: 100%;
  width: 100%;
  flex: 1;

  &[aria-hidden=true] {
    display: none;
  }
}
