.mainLayout {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #efefef;
}
