{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
  },
  "env"     : {
    "browser" : true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./internals/webpack/webpack.test.babel.js"
      }
    }
  },
  "rules": {
    "no-unused-vars": "error",
    "semi" : ["error", "never"],
    "space-before-function-paren": ["error", "never"],
    "no-alert": "off",
    "quotes": ["error", "single"],
    "strict": ["error", "never"],
    "new-cap": [0],
    "consistent-return": 0,
    "no-underscore-dangle": 0,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "space-before-blocks": ["error", "always"],
    "react/display-name": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-boolean-value": "warn",
    "react/jsx-no-undef": "warn",
    "react/sort-prop-types": "warn",
    "react/jsx-sort-props": "off",
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn",
    "react/no-did-mount-set-state": "warn",
    "react/no-did-update-set-state": "warn",
    "react/no-multi-comp": ["warn", "ignoreStateless": true],
    "react/no-unknown-property": "warn",
    "react/prop-types": "warn",
    "react/react-in-jsx-scope": "warn",
    "react/self-closing-comp": "warn",
    "react/sort-comp": "warn",
    "react/wrap-multilines": "warn",
    "jsx-quotes": ["warn", "prefer-double"],
    # "jsx-a11y/href-no-hash": "error",
    # "jsx-a11y/label-has-for": "error",
    # "jsx-a11y/mouse-events-have-key-events": "error",
    # "jsx-a11y/role-has-required-aria-props": "error",
    # "jsx-a11y/role-supports-aria-props": "error",
    # "jsx-a11y/aria-props": "error",
    # "import/no-unresolved": "error",
    "comma-dangle": ["warn", "only-multiline"],
    "no-console": "error",
    "max-len": "off",
    "prefer-template": "error",
    "no-use-before-define": "off",
    "newline-per-chained-call": "off",
    "arrow-body-style": ["warn", "as-needed"],
    "generator-star-spacing": ["error", {"before": false, "after": true}],
    "yield-star-spacing": ["error", {"before": false, "after": true}]
  }
}
