{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [],
  "rules": {
    "at-rule-empty-line-before": ["always", "ignore": ["all-nested", "after-comment"]],
    "indentation": 2,
    "selector-list-comma-newline-after": null
  }
}
