option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "project.settings"
    "PYTHONPATH": "/opt/python/current/app/qBuilder:$PYTHONPATH"
    EQ_AUTHOR_DATABASE_URL: "postgres:password@eq-author.ca7smeeounws.eu-west-1.rds.amazonaws.com:5432/qBuilder"
    EQ_JSON_SCHEMA_FILE: "./qBuilder/schema/schema-v1.json"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "qBuilder/project/wsgi.py"
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/assets/": "qBuilder/assets/"
    "/bundles/": "qBuilder/bundles/"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python qBuilder/manage.py migrate --noinput"
    leader_only: true
