.tabBar {
  display: block;
  padding: 1.3rem 0 0;
  background: white;
}

.link {
  font-size: 1.15rem;
  font-weight: 600;
  padding: 0 1rem 0.5rem;
  display: inline-block;
  &:first-child {
    padding-left: 0;
  }
}

.activeLink {
  composes: text from 'styles/shared/colors.css';
  border-bottom: 1px solid #4ABEE2;
}

.disabledLink {
  color: #ccc;
}
