.tabBar {
  display: block;
  padding: 0.8rem 0;
  background: white;
  position: relative;
}

.link {
  font-size: 1.15rem;
  font-weight: 600;
  padding: 0 1rem 0.5rem;
  display: inline-block;
  &:first-child {
    padding-left: 0;
  }
}

.activeLink {
  composes: text from 'styles/shared/colors.css';
  border-bottom: 1px solid #4abee2;
}

.disabledLink {
  color: #ccc;
}

.tabs {
  position: absolute;
  bottom: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
