/* the whole family - obvs wont use all of these */

@font-face{
font-family:"Frutiger Neue W01 UltLt";
src:url("Fonts/91fc6d4e-cf1b-4402-8204-6583863aa538.eot?#iefix");
src:url("Fonts/91fc6d4e-cf1b-4402-8204-6583863aa538.eot?#iefix") format("eot"),url("Fonts/e1441166-710a-42d0-a01d-519e6602eacb.woff2") format("woff2"),url("Fonts/0642b943-95ae-45d7-88b6-f872b3c23789.woff") format("woff"),url("Fonts/2e31d03e-1e21-4f13-8912-f00a90362205.ttf") format("truetype"),url("Fonts/55788027-88a6-4548-ae61-02cce75b0db4.svg#55788027-88a6-4548-ae61-02cce75b0db4") format("svg");
}
@font-face{
font-family:"FrutigerNeueW01-UltLtIt";
src:url("Fonts/b7974d73-d7c0-4b2f-a37d-1d043dd92dd8.eot?#iefix");
src:url("Fonts/b7974d73-d7c0-4b2f-a37d-1d043dd92dd8.eot?#iefix") format("eot"),url("Fonts/3453fe0e-28b2-48db-a913-256c2c5abaeb.woff2") format("woff2"),url("Fonts/9f5ecba6-9bb2-4d57-a34e-d9afe2f8ee79.woff") format("woff"),url("Fonts/b4ceef0f-aa17-4158-be75-bca8ab8c6dc1.ttf") format("truetype"),url("Fonts/c52ae5cf-9194-4539-ac11-56e275e9daea.svg#c52ae5cf-9194-4539-ac11-56e275e9daea") format("svg");
}
@font-face{
font-family:"Frutiger Neue W01 Thin";
src:url("Fonts/56a45cb7-f23d-49a0-bfc2-c8697c283d7f.eot?#iefix");
src:url("Fonts/56a45cb7-f23d-49a0-bfc2-c8697c283d7f.eot?#iefix") format("eot"),url("Fonts/3707b616-fa68-46f1-b366-6203b775dfba.woff2") format("woff2"),url("Fonts/a1195dfc-f0a3-4c60-9515-d3808dc66b4c.woff") format("woff"),url("Fonts/fb62cba5-0fb8-498f-8359-eaaff75c288c.ttf") format("truetype"),url("Fonts/af337833-f8b0-4e2a-9f34-7de96f0d0fe4.svg#af337833-f8b0-4e2a-9f34-7de96f0d0fe4") format("svg");
}
@font-face{
font-family:"FrutigerNeueW01-ThinIt";
src:url("Fonts/c376d03a-6e5a-4e67-9991-1b10981a31ab.eot?#iefix");
src:url("Fonts/c376d03a-6e5a-4e67-9991-1b10981a31ab.eot?#iefix") format("eot"),url("Fonts/4071ea5b-bf2c-4fdc-ab5b-8d7c15c72ab9.woff2") format("woff2"),url("Fonts/10368ad7-6302-4e83-a193-4bbd6ff4ca46.woff") format("woff"),url("Fonts/9a12e2b8-f310-489d-af6d-0f996f898e2a.ttf") format("truetype"),url("Fonts/8e89233f-8145-41bf-9faa-6921c272d9a7.svg#8e89233f-8145-41bf-9faa-6921c272d9a7") format("svg");
}
@font-face{
font-family:"Frutiger Neue W01 Light";
src:url("Fonts/12d6929b-8b96-4898-b413-6bd6d0e2d0fb.eot?#iefix");
src:url("Fonts/12d6929b-8b96-4898-b413-6bd6d0e2d0fb.eot?#iefix") format("eot"),url("Fonts/5ff45fd8-b17d-4b99-a293-7969c71b8e1c.woff2") format("woff2"),url("Fonts/a2afa464-03b1-4a6c-b5cb-3521a1cf94ba.woff") format("woff"),url("Fonts/9aa255d9-7d3d-420a-bb79-2f91c4aed10f.ttf") format("truetype"),url("Fonts/b755ea1d-fab9-4588-b7a8-31350efb38f9.svg#b755ea1d-fab9-4588-b7a8-31350efb38f9") format("svg");
}
@font-face{
font-family:"FrutigerNeueW01-LightIt";
src:url("Fonts/507d7247-8f57-40e8-8730-d4dba3b5ec5a.eot?#iefix");
src:url("Fonts/507d7247-8f57-40e8-8730-d4dba3b5ec5a.eot?#iefix") format("eot"),url("Fonts/ab9d27d1-cac1-4cc1-addb-f3278591c070.woff2") format("woff2"),url("Fonts/3b7f781f-47f2-4bcb-94c9-533ac0836f29.woff") format("woff"),url("Fonts/e2f8b5b1-f656-4f83-bc3b-357054ecfa2d.ttf") format("truetype"),url("Fonts/635cbdb7-354c-4ba0-866d-26ded7feb4eb.svg#635cbdb7-354c-4ba0-866d-26ded7feb4eb") format("svg");
}
@font-face{
font-family:"Frutiger Neue W01 Book";
src:url("Fonts/4510b370-f470-4a48-9e50-610e1eda0c0f.eot?#iefix");
src:url("Fonts/4510b370-f470-4a48-9e50-610e1eda0c0f.eot?#iefix") format("eot"),url("Fonts/33b6f34a-c72d-45b1-b53e-b1f65815790e.woff2") format("woff2"),url("Fonts/dd178e8e-241c-40e4-8de9-517c03b90b59.woff") format("woff"),url("Fonts/5c8447f4-b7e3-462a-87f2-b823e98d6da5.ttf") format("truetype"),url("Fonts/22971d02-0160-4a1f-b7ea-5999e0509d35.svg#22971d02-0160-4a1f-b7ea-5999e0509d35") format("svg");
}
@font-face{
font-family:"FrutigerNeueW01-BookIt";
src:url("Fonts/04e8f83f-ff22-47f9-b6de-f1a16df7feff.eot?#iefix");
src:url("Fonts/04e8f83f-ff22-47f9-b6de-f1a16df7feff.eot?#iefix") format("eot"),url("Fonts/539f6f1a-0c4b-4f30-9f94-93d8fecc17e9.woff2") format("woff2"),url("Fonts/2c4bc2a0-6c0c-4a07-964d-ca4b46d894ea.woff") format("woff"),url("Fonts/b793bcb8-7a6f-43fd-ae6b-d60e13ba6f4d.ttf") format("truetype"),url("Fonts/bedd7bf6-49ac-4496-a7eb-3e3c6ed92f16.svg#bedd7bf6-49ac-4496-a7eb-3e3c6ed92f16") format("svg");
}
@font-face{
font-family:"FrutigerNeueW01-Regular";
src:url("Fonts/e2e74e1c-9e18-4127-adfd-feb8f6a9ceaf.eot?#iefix");
src:url("Fonts/e2e74e1c-9e18-4127-adfd-feb8f6a9ceaf.eot?#iefix") format("eot"),url("Fonts/9edf3443-80c6-4de6-b582-122401f63ad4.woff2") format("woff2"),url("Fonts/aa94077e-cdcd-4e33-abe0-ddcfe27e3485.woff") format("woff"),url("Fonts/22dfb43f-26df-46f9-aa0f-30038f8da834.ttf") format("truetype"),url("Fonts/36ad2de1-95ea-4eb3-a836-29c86179a248.svg#36ad2de1-95ea-4eb3-a836-29c86179a248") format("svg");
}
@font-face{
font-family:"Frutiger Neue W01 It";
src:url("Fonts/6e3f9960-fdda-4ea8-bd81-1054f9be8633.eot?#iefix");
src:url("Fonts/6e3f9960-fdda-4ea8-bd81-1054f9be8633.eot?#iefix") format("eot"),url("Fonts/640ec4c5-4340-47f1-9a09-78a589aad968.woff2") format("woff2"),url("Fonts/4f61e1e8-2cd9-4081-9569-4033e064c9ca.woff") format("woff"),url("Fonts/de6f85d2-e3bd-4432-ac0d-5bfbd1b754d6.ttf") format("truetype"),url("Fonts/5b722d6a-9861-42ea-9c1c-8da94fb3e7e9.svg#5b722d6a-9861-42ea-9c1c-8da94fb3e7e9") format("svg");
}
@font-face{
font-family:"Frutiger Neue W01 Md";
src:url("Fonts/979450a2-8d59-4cc2-9937-94255a4f3923.eot?#iefix");
src:url("Fonts/979450a2-8d59-4cc2-9937-94255a4f3923.eot?#iefix") format("eot"),url("Fonts/1f198a6d-f4fe-44f1-b78c-1b6a1cf66d00.woff2") format("woff2"),url("Fonts/4748e3d8-1b23-420a-a419-d7a367ea1076.woff") format("woff"),url("Fonts/11f76f62-1d4f-4327-bce7-1eee2aba08bf.ttf") format("truetype"),url("Fonts/ce4a6e96-f298-4ab1-a2ac-bdbbbc1467d6.svg#ce4a6e96-f298-4ab1-a2ac-bdbbbc1467d6") format("svg");
}
@font-face{
font-family:"Frutiger Neue W01 Md It";
src:url("Fonts/6d418ec7-87cb-49b9-a2f1-763c31aafa5b.eot?#iefix");
src:url("Fonts/6d418ec7-87cb-49b9-a2f1-763c31aafa5b.eot?#iefix") format("eot"),url("Fonts/7baec8c0-6e2f-4a6a-ab9d-979e024cd548.woff2") format("woff2"),url("Fonts/5941207d-b0bc-4028-b64c-f52e60c6ced7.woff") format("woff"),url("Fonts/5eac4866-dcb9-4ddc-b6ab-c178aea30bae.ttf") format("truetype"),url("Fonts/31d35c97-8a65-4872-9bfe-2cc77e9bbc82.svg#31d35c97-8a65-4872-9bfe-2cc77e9bbc82") format("svg");
}
@font-face{
font-family:"Frutiger Neue W01 Bd";
src:url("Fonts/62057895-1f9e-4d70-bd1a-65751a20a878.eot?#iefix");
src:url("Fonts/62057895-1f9e-4d70-bd1a-65751a20a878.eot?#iefix") format("eot"),url("Fonts/26f1236c-a914-477f-9d0f-10d758702626.woff2") format("woff2"),url("Fonts/7875f3d5-b62b-445c-8c9e-d65da1514e9d.woff") format("woff"),url("Fonts/1c242f4e-0c64-47cc-8cbc-e53d949280ba.ttf") format("truetype"),url("Fonts/ec132df9-012a-4594-bbd9-c86574bee7b0.svg#ec132df9-012a-4594-bbd9-c86574bee7b0") format("svg");
}
@font-face{
font-family:"Frutiger Neue W01 Bd It";
src:url("Fonts/45f1e5f6-f69d-4e88-bf17-183db0f9c6b6.eot?#iefix");
src:url("Fonts/45f1e5f6-f69d-4e88-bf17-183db0f9c6b6.eot?#iefix") format("eot"),url("Fonts/2c94541b-311c-4a3b-8fa1-991a75cd925d.woff2") format("woff2"),url("Fonts/98a7ec92-51b0-444c-91ac-8702b3d7a29b.woff") format("woff"),url("Fonts/7c492427-6dd9-4cc0-ae4b-8e26ba4b9e16.ttf") format("truetype"),url("Fonts/303a2020-b96a-4c08-840d-448fd2b241d1.svg#303a2020-b96a-4c08-840d-448fd2b241d1") format("svg");
}
@font-face{
font-family:"Frutiger Neue W01 Heavy";
src:url("Fonts/9fcb3c51-f805-418d-8e69-c617f69ab200.eot?#iefix");
src:url("Fonts/9fcb3c51-f805-418d-8e69-c617f69ab200.eot?#iefix") format("eot"),url("Fonts/75c3c034-7ae8-42e9-aa63-21dfcab0b649.woff2") format("woff2"),url("Fonts/1f2fda6d-66b0-4618-a5ab-758dcaa1156f.woff") format("woff"),url("Fonts/92c1c904-a439-4831-b855-ed7009f72f72.ttf") format("truetype"),url("Fonts/ac1401a3-0934-4b8c-8556-3b60acb090fa.svg#ac1401a3-0934-4b8c-8556-3b60acb090fa") format("svg");
}
@font-face{
font-family:"FrutigerNeueW01-HeavyIt";
src:url("Fonts/5d4d4e95-f958-4e8a-9b7e-c3cd5b57e27a.eot?#iefix");
src:url("Fonts/5d4d4e95-f958-4e8a-9b7e-c3cd5b57e27a.eot?#iefix") format("eot"),url("Fonts/35ec0821-c6df-4f12-9f4f-d5add4e2365a.woff2") format("woff2"),url("Fonts/5fc2b3ff-c28e-476a-9cfa-3ad7a9226046.woff") format("woff"),url("Fonts/df70d9c4-aa62-412c-9b08-81ae09073ec4.ttf") format("truetype"),url("Fonts/2bf3382b-c353-4978-a6ec-bba349ec83fb.svg#2bf3382b-c353-4978-a6ec-bba349ec83fb") format("svg");
}
@font-face{
font-family:"Frutiger Neue W01 Blk";
src:url("Fonts/1d6e4042-aad3-4fa6-af81-27ae0c861c76.eot?#iefix");
src:url("Fonts/1d6e4042-aad3-4fa6-af81-27ae0c861c76.eot?#iefix") format("eot"),url("Fonts/a38b0166-6bfa-4a24-8520-74ffc03655c9.woff2") format("woff2"),url("Fonts/30ecb82c-3596-4c99-a397-c7cab98b5359.woff") format("woff"),url("Fonts/b1062a8f-11aa-4489-85ec-60f8a3762a52.ttf") format("truetype"),url("Fonts/96389638-6a84-4b46-9ee6-a9b03fd09a23.svg#96389638-6a84-4b46-9ee6-a9b03fd09a23") format("svg");
}
@font-face{
font-family:"FrutigerNeueW01-BlkIt";
src:url("Fonts/abc4c5be-de86-4209-8270-5f1574313394.eot?#iefix");
src:url("Fonts/abc4c5be-de86-4209-8270-5f1574313394.eot?#iefix") format("eot"),url("Fonts/63d4a5d5-d5cf-405d-9033-d3b73700aed5.woff2") format("woff2"),url("Fonts/3c25551c-6739-4dc0-92dc-7203f49f374d.woff") format("woff"),url("Fonts/26134834-0b2c-47be-b282-74457643ceb8.ttf") format("truetype"),url("Fonts/f58aaa2b-90f7-438f-9f26-49f0c5a5bd80.svg#f58aaa2b-90f7-438f-9f26-49f0c5a5bd80") format("svg");
}
@font-face{
font-family:"FrutigerNeueW01-XtraBlk_673207";
src:url("Fonts/a8712cdd-5472-4c1b-a984-6d772fcdb8cb.eot?#iefix");
src:url("Fonts/a8712cdd-5472-4c1b-a984-6d772fcdb8cb.eot?#iefix") format("eot"),url("Fonts/161bd7bc-d780-4ec8-8e62-9bac20afe247.woff2") format("woff2"),url("Fonts/7f5751d7-a935-41dc-8f60-1f6d24523464.woff") format("woff"),url("Fonts/cbcf34c4-2909-4c66-979d-265e81c0c511.ttf") format("truetype"),url("Fonts/77b5319a-a3b1-43b2-bba2-c15f0165fd8c.svg#77b5319a-a3b1-43b2-bba2-c15f0165fd8c") format("svg");
}
@font-face{
font-family:"FrutigerNeueW01-XtraBlk_673210";
src:url("Fonts/8a96e3df-c82e-460a-ae96-c1b075b5344c.eot?#iefix");
src:url("Fonts/8a96e3df-c82e-460a-ae96-c1b075b5344c.eot?#iefix") format("eot"),url("Fonts/eaec4229-f454-4c28-91c0-0f8bcc9bc04f.woff2") format("woff2"),url("Fonts/9514963c-ae67-4456-b4cb-d4dfac8e9c91.woff") format("woff"),url("Fonts/14068540-2abb-41e0-8182-fdfbf4ab52bf.ttf") format("truetype"),url("Fonts/d86a1b4a-646d-422a-bfbb-cf0a1a8bf853.svg#d86a1b4a-646d-422a-bfbb-cf0a1a8bf853") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnUlt_774294";
src:url("Fonts/47e60a32-cda1-465f-a5e2-2ac78bdd84ae.eot?#iefix");
src:url("Fonts/47e60a32-cda1-465f-a5e2-2ac78bdd84ae.eot?#iefix") format("eot"),url("Fonts/e8ac15fd-f604-48cf-b53a-55e05e4d230a.woff2") format("woff2"),url("Fonts/20649053-a20e-4552-b462-71a7cea05df5.woff") format("woff"),url("Fonts/e3c30a2d-9d70-4095-b0ff-da7fe8155b4a.ttf") format("truetype"),url("Fonts/6e130e03-2ccd-4f7e-b96b-b6d4ff37de87.svg#6e130e03-2ccd-4f7e-b96b-b6d4ff37de87") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnUlt_774297";
src:url("Fonts/b626612a-3122-4998-8dc1-9659da97adbb.eot?#iefix");
src:url("Fonts/b626612a-3122-4998-8dc1-9659da97adbb.eot?#iefix") format("eot"),url("Fonts/aa1c2297-6782-4121-aaef-296f5c1efa87.woff2") format("woff2"),url("Fonts/d8b7a433-4986-4408-849f-fc9d9d6c4a88.woff") format("woff"),url("Fonts/065bc87f-36ca-4532-ac4f-a1d5367db6d6.ttf") format("truetype"),url("Fonts/e3126d78-e0ca-46d3-8e0d-3e5513a0c551.svg#e3126d78-e0ca-46d3-8e0d-3e5513a0c551") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnThi_774300";
src:url("Fonts/10373dd3-0b64-46cd-9056-b241157a06b2.eot?#iefix");
src:url("Fonts/10373dd3-0b64-46cd-9056-b241157a06b2.eot?#iefix") format("eot"),url("Fonts/aea5a0a6-fe8a-4177-a839-badc38306613.woff2") format("woff2"),url("Fonts/dd0d02bd-15de-4e72-905e-1d942a169fff.woff") format("woff"),url("Fonts/25b6d412-c053-4325-a759-8b19d9c08c4e.ttf") format("truetype"),url("Fonts/12e8b4a7-eb55-4810-ab9d-b5433cfaea29.svg#12e8b4a7-eb55-4810-ab9d-b5433cfaea29") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnThi_774303";
src:url("Fonts/4bcc1fec-ef8f-4e76-a630-175f868adfe7.eot?#iefix");
src:url("Fonts/4bcc1fec-ef8f-4e76-a630-175f868adfe7.eot?#iefix") format("eot"),url("Fonts/e4e45dc4-1c9f-43ed-bc60-f78ac98a3b52.woff2") format("woff2"),url("Fonts/de352e05-cffc-4832-bc2f-b0bfc62f4376.woff") format("woff"),url("Fonts/921421d4-14f2-4616-a1fd-6f9806dcdeeb.ttf") format("truetype"),url("Fonts/6c9f6d3a-2133-410e-9d77-bb83235d7b66.svg#6c9f6d3a-2133-410e-9d77-bb83235d7b66") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnLt";
src:url("Fonts/a46a0458-05e2-4329-9d44-f8f200a2f804.eot?#iefix");
src:url("Fonts/a46a0458-05e2-4329-9d44-f8f200a2f804.eot?#iefix") format("eot"),url("Fonts/0dceeb5f-e041-4bcf-ac86-0a2e5a26d4d2.woff2") format("woff2"),url("Fonts/7ac890fe-00b8-4697-aa9c-4a04ad40743f.woff") format("woff"),url("Fonts/b4736ab3-3c66-41c6-a462-8995dc9ebbb3.ttf") format("truetype"),url("Fonts/23a0954a-35d5-43c0-8051-2c420a90367a.svg#23a0954a-35d5-43c0-8051-2c420a90367a") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnLtI";
src:url("Fonts/b9382aae-6874-421a-bb88-47ac329d5e12.eot?#iefix");
src:url("Fonts/b9382aae-6874-421a-bb88-47ac329d5e12.eot?#iefix") format("eot"),url("Fonts/fefb4760-054e-4c6c-92c9-62765faf3869.woff2") format("woff2"),url("Fonts/028f1140-a833-46fb-b17a-3e040adea42f.woff") format("woff"),url("Fonts/4e7a0046-fea7-4cd1-b022-d41d08316945.ttf") format("truetype"),url("Fonts/0d3b819c-955a-47ba-a0f9-12bee5f4aadd.svg#0d3b819c-955a-47ba-a0f9-12bee5f4aadd") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnBoo_774312";
src:url("Fonts/1461aeb8-9b58-4c92-94fe-7969267a24fb.eot?#iefix");
src:url("Fonts/1461aeb8-9b58-4c92-94fe-7969267a24fb.eot?#iefix") format("eot"),url("Fonts/c0bfb535-62f9-480e-92c7-5bf10cf43fb5.woff2") format("woff2"),url("Fonts/835a166c-157e-46da-91fa-031d8f83f1a3.woff") format("woff"),url("Fonts/dbd1d539-bc67-4b94-bc06-083ec9712853.ttf") format("truetype"),url("Fonts/28d8438f-4ed4-49ad-a830-70271cc33028.svg#28d8438f-4ed4-49ad-a830-70271cc33028") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnBoo_774315";
src:url("Fonts/cec94c9c-987d-4bc0-9524-f09257cfe019.eot?#iefix");
src:url("Fonts/cec94c9c-987d-4bc0-9524-f09257cfe019.eot?#iefix") format("eot"),url("Fonts/a923fe21-737b-40af-ab55-8db4c786045b.woff2") format("woff2"),url("Fonts/d3128b9e-8449-436e-8153-9537847637be.woff") format("woff"),url("Fonts/2a346caf-d80e-45fb-8287-4d47cb6c6cee.ttf") format("truetype"),url("Fonts/7710ec47-7ddb-47bb-a6c7-7e655839771c.svg#7710ec47-7ddb-47bb-a6c7-7e655839771c") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnRg";
src:url("Fonts/1a1e1864-c721-465b-9f66-d912d56a998e.eot?#iefix");
src:url("Fonts/1a1e1864-c721-465b-9f66-d912d56a998e.eot?#iefix") format("eot"),url("Fonts/941d3a28-0180-4718-89a4-4f3831297145.woff2") format("woff2"),url("Fonts/9f5ffe33-871b-4455-bba3-929a76fad854.woff") format("woff"),url("Fonts/b470d3ae-2bbe-4f08-8244-bac7284919aa.ttf") format("truetype"),url("Fonts/685f1969-a8b8-40e8-b166-583701c31cc5.svg#685f1969-a8b8-40e8-b166-583701c31cc5") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnIta";
src:url("Fonts/6e0e3067-d8e5-4cbe-a2a9-fe72e42b3587.eot?#iefix");
src:url("Fonts/6e0e3067-d8e5-4cbe-a2a9-fe72e42b3587.eot?#iefix") format("eot"),url("Fonts/69ee46c2-6898-4468-a823-ce8748f5bfc6.woff2") format("woff2"),url("Fonts/b254279b-678b-44ac-b6eb-dc5306ec0acc.woff") format("woff"),url("Fonts/9dd83089-1051-4b35-b8ec-b07c6cadafdd.ttf") format("truetype"),url("Fonts/2599508f-6880-4bc3-a9c0-d1b2b87e2511.svg#2599508f-6880-4bc3-a9c0-d1b2b87e2511") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnMd";
src:url("Fonts/2f9adff9-8412-476f-a5c6-447d2e228f78.eot?#iefix");
src:url("Fonts/2f9adff9-8412-476f-a5c6-447d2e228f78.eot?#iefix") format("eot"),url("Fonts/5263aa91-3523-4f60-8a11-e25e556a723d.woff2") format("woff2"),url("Fonts/d06ce606-83ae-4a0d-b2d3-b436b11b26a6.woff") format("woff"),url("Fonts/ea6036a7-6067-4255-810b-a743e7694e22.ttf") format("truetype"),url("Fonts/9e2d0c59-f3fc-452c-bb4e-3ee64a6d04c2.svg#9e2d0c59-f3fc-452c-bb4e-3ee64a6d04c2") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnMdI";
src:url("Fonts/ee374792-94a6-4829-b776-030d0eb5aab3.eot?#iefix");
src:url("Fonts/ee374792-94a6-4829-b776-030d0eb5aab3.eot?#iefix") format("eot"),url("Fonts/04183f61-6321-4110-a8ce-f0b80d161850.woff2") format("woff2"),url("Fonts/0bf0b1f8-9533-439e-b250-c8a50099644f.woff") format("woff"),url("Fonts/9d69dbad-1977-4989-bdf3-353561b3c01a.ttf") format("truetype"),url("Fonts/4a77e8bd-0151-49a5-9fc9-7b24bb272db1.svg#4a77e8bd-0151-49a5-9fc9-7b24bb272db1") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnBol_774330";
src:url("Fonts/fc777a37-cc70-4b99-bf2a-c24669de9f92.eot?#iefix");
src:url("Fonts/fc777a37-cc70-4b99-bf2a-c24669de9f92.eot?#iefix") format("eot"),url("Fonts/23f593c1-79e6-4327-a531-b1e5d19ad900.woff2") format("woff2"),url("Fonts/67be8d50-c4d0-4d17-879c-1deeb5f8870a.woff") format("woff"),url("Fonts/985128da-2b69-4224-8d28-daa9b41222e0.ttf") format("truetype"),url("Fonts/e7176ba8-b58a-48bd-b344-766a019ad299.svg#e7176ba8-b58a-48bd-b344-766a019ad299") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnBol_774333";
src:url("Fonts/a386feee-0105-4491-bba2-5242b0ea4079.eot?#iefix");
src:url("Fonts/a386feee-0105-4491-bba2-5242b0ea4079.eot?#iefix") format("eot"),url("Fonts/491afbf8-1c04-4ec2-9339-19e04138e71a.woff2") format("woff2"),url("Fonts/ae54da60-5e40-4b49-92de-2440ceb17180.woff") format("woff"),url("Fonts/37831ed3-9997-44bd-98fe-f2c36b24c5ab.ttf") format("truetype"),url("Fonts/20b147ce-95f1-4dc1-a776-417d5d0e9a53.svg#20b147ce-95f1-4dc1-a776-417d5d0e9a53") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnHv";
src:url("Fonts/82eb815b-aaa5-4d33-84d1-5abc7119d0ce.eot?#iefix");
src:url("Fonts/82eb815b-aaa5-4d33-84d1-5abc7119d0ce.eot?#iefix") format("eot"),url("Fonts/3f84f18e-610c-4fe0-8aab-407a8ea9e204.woff2") format("woff2"),url("Fonts/5d43a479-1884-4c13-adb3-fb96b43da44f.woff") format("woff"),url("Fonts/8f69f433-65c5-49bf-86b0-37045bebe119.ttf") format("truetype"),url("Fonts/9f6a7321-0490-4972-93e3-6a10f4c7a4c7.svg#9f6a7321-0490-4972-93e3-6a10f4c7a4c7") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnHvI";
src:url("Fonts/d7dfaff5-faf1-4af9-884c-93a1efd86631.eot?#iefix");
src:url("Fonts/d7dfaff5-faf1-4af9-884c-93a1efd86631.eot?#iefix") format("eot"),url("Fonts/bedfb32f-ba91-4944-bb23-33f302fc6cb3.woff2") format("woff2"),url("Fonts/3d018f49-f89a-489d-9a89-494c8c292938.woff") format("woff"),url("Fonts/94296dd4-bd3f-4fd8-857f-32551c8c6b08.ttf") format("truetype"),url("Fonts/a4ac0fe8-7489-4ca2-a046-c7a34019df1a.svg#a4ac0fe8-7489-4ca2-a046-c7a34019df1a") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnBlk_774342";
src:url("Fonts/0006b597-d834-4c7c-8875-d60bc1973ff6.eot?#iefix");
src:url("Fonts/0006b597-d834-4c7c-8875-d60bc1973ff6.eot?#iefix") format("eot"),url("Fonts/c9180328-bf7f-4d9c-878b-e06783f626c9.woff2") format("woff2"),url("Fonts/3f1277b6-5ad4-4938-b22a-36afc73c1894.woff") format("woff"),url("Fonts/935338c1-ec39-4dba-ba99-68d0d31f1e57.ttf") format("truetype"),url("Fonts/00bb5192-0909-4fd0-8537-af541de6bc42.svg#00bb5192-0909-4fd0-8537-af541de6bc42") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnBlk_774345";
src:url("Fonts/ae050961-218c-412a-ba20-1c8f91662f92.eot?#iefix");
src:url("Fonts/ae050961-218c-412a-ba20-1c8f91662f92.eot?#iefix") format("eot"),url("Fonts/ec1ef3d8-5502-4e03-999d-70a11bf0c7dc.woff2") format("woff2"),url("Fonts/d2e0c22e-2cea-4012-9cb1-209855ad3ede.woff") format("woff"),url("Fonts/7ef8e326-f304-44f4-ac04-30aded3d5fa9.ttf") format("truetype"),url("Fonts/b3493535-6ab1-4ea9-9dba-15ebfb0a4dfa.svg#b3493535-6ab1-4ea9-9dba-15ebfb0a4dfa") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnXBl_774348";
src:url("Fonts/5d9b31f5-89f9-44b0-ba24-64855b7f4b94.eot?#iefix");
src:url("Fonts/5d9b31f5-89f9-44b0-ba24-64855b7f4b94.eot?#iefix") format("eot"),url("Fonts/1d40d629-01c9-4efe-ad37-b67114965e31.woff2") format("woff2"),url("Fonts/61e7de41-b7be-4bcd-8310-b5a372d01a53.woff") format("woff"),url("Fonts/ef5a4ff6-8090-41ce-905a-67a939fd71d4.ttf") format("truetype"),url("Fonts/f619d618-6636-4160-8f26-c3cabc0e22b9.svg#f619d618-6636-4160-8f26-c3cabc0e22b9") format("svg");
}
@font-face{
font-family:"FrutigerNeueLTW01-CnXBl_774351";
src:url("Fonts/d7e2d751-fb24-4923-b3a9-ed784accdfb3.eot?#iefix");
src:url("Fonts/d7e2d751-fb24-4923-b3a9-ed784accdfb3.eot?#iefix") format("eot"),url("Fonts/cb2e498c-5104-427a-841f-aff76f1cb4a8.woff2") format("woff2"),url("Fonts/b0f892b9-e2df-4b2e-a891-c90899dc69c5.woff") format("woff"),url("Fonts/a0a346c3-c79f-48a4-a8f7-ece297cd8c89.ttf") format("truetype"),url("Fonts/e5f3f4a8-0150-47a9-9327-00e16d6f54ef.svg#e5f3f4a8-0150-47a9-9327-00e16d6f54ef") format("svg");
}
