{% extends "_layout.html" %}
{% load render_bundle from webpack_loader %}
{% block page_bundle %}
  {% render_bundle 'login' %}
{% endblock page_bundle %}

{% block scripts %}

  <script type="text/javascript">
    window.__INITIAL_STATE__ = {
      login: {
        action: '/dslkmasdml',
        csrfToken: '',
        next: '',
        username: 'hamish',
        errors: {
          nonField: [
            'You did it wrong.'
          ],
          username: [
            'Your username is incorrect.'
          ],
          password: [
            'Your password is incorrect.'
          ]
        }
      }
    }
  </script>
{% endblock scripts %}
