{% extends "_layout.html" %}
{% load render_bundle from webpack_loader %}
{% block page_bundle %}
  {% render_bundle 'login' %}
{% endblock page_bundle %}

{% block scripts %}

  <script type="text/javascript">
    window.__INITIAL_STATE__ = {
      login: {
        action: '{% url 'django.contrib.auth.views.login' %}',
        csrfToken: '{{csrf_token}}',
        username: '{% if form.username.value %}{{form.username.value}}{% endif %}',
        errors: [ '{{ form.non_field_errors|striptags }}' ]
      }
    }
  </script>
{% endblock scripts %}
