label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #eae7e7;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #ababab;
}
