.schemaList {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 80rem;
  min-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

.list {
  list-style: none;
  border-bottom: 1px solid #efefef;
}

.item {
  border: 1px solid #efefef;
  border-bottom: none;
  position: relative;
  padding-left: 2rem;
  &:hover {
    background: #efefef;
  }
}

.link {
  text-decoration: none;
  display: block;
  padding: 1rem;
  color: #383838;
}

.num {
  font-size: 1.6rem;
  position: absolute;
  left: 1rem;
}

.title {
  margin-bottom: 1rem;
}
