.popupMenu {
  cursor: pointer;
  position: relative;
  text-align: center;
  width: 2rem;

  &[aria-disabled=true] {
    opacity: 0.3;
    pointer-events: none;
  }
}

.button {
  opacity: 0.5;
  cursor: pointer;
  padding: 0.2rem;
  width: 1.8rem;
  height: 1rem;

  &:hover,
  &:focus {
    outline: none;
    opacity: 1;
  }
}

.options {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

.option {
  display: block;
  user-select: none;
}

.menu {
  list-style-type: none;
  background: white;
  padding: 0.5rem 0;
  border-radius: 4px;
  position: absolute;
  display: flex;
  z-index: 100;
  min-width: 120px;
  transition: all 50ms;

  &::after,
  &::before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    border-color: rgba(213, 213, 213, 0);
    border-width: 10px;
  }

  &::before {
    border-color: rgba(245, 245, 245, 0);
    border-width: 11px;
  }

  &[aria-hidden=true] {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.1));

    .option {
      opacity: 0;
    }
  }

  &[aria-hidden=false] {
    visibility: visible;
    opacity: 1;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));

    .option {
      transition: opacity 50ms ease-out 50ms;
      opacity: 1;
    }
  }
}

.horizontal {
  top: 50%;
  left: -10px;

  &[aria-hidden=false] {
    transform: translateX(-100%) translateY(-50%) scale(1);
  }

  &[aria-hidden=true] {
    transform: translateX(-100%) translateY(-50%) scale(0.9);
  }

  &::after,
  &::before {
    left: 100%;
    top: 50%;
  }

  &::after {
    border-color: rgba(213, 213, 213, 0);
    border-left-color: #fff;
    margin-top: -10px;
  }

  &::before {
    border-color: rgba(245, 245, 245, 0);
    border-left-color: #f5f5f5;
    margin-top: -11px;
  }
}

.vertical {
  left: 50%;

  &[aria-hidden=false] {
    transform: translateX(-50%) translateY(10px) scale(1);
  }

  &[aria-hidden=true] {
    transform: translateX(-50%) translateY(0) scale(0.9);
  }

  &::after,
  &::before {
    bottom: 100%;
    left: 50%;
  }

  &::after {
    border-color: rgba(213, 213, 213, 0);
    border-bottom-color: #fff;
    margin-left: -10px;
  }

  &::before {
    border-color: rgba(245, 245, 245, 0);
    border-bottom-color: #f5f5f5;
    margin-left: -11px;
  }
}

.link {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 0.4rem 1rem;
  transition: all 0.3s ease-out;
  user-select: none;
  composes: text from 'styles/shared/colors.css';
  font-weight: 500;
  cursor: pointer;

  &:hover,
  &:active {
    outline: none;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.03);
  }

  &[aria-disabled=true] {
    color: #333;
    opacity: 0.2;
    pointer-events: none;

    &:hover,
    &:focus {
      background: transparent;
    }

    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.2;
    }
  }
}

.linkText {
  margin-left: 0.7rem;
}

.linkButton {
  composes: link;
}
