html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 100%;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  margin: 0;
}

input, textarea, keygen, select, button {
  font-family: inherit;
}

.app {
  width: 100vw;
  min-height: 100vh;
}
