html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 18px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #eae7e7;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #ababab;
}
