
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
	box-sizing: border-box;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
  font-size: 16px;
	font-family: $font-sans;
	line-height: $base-line-height;
	color: $color-text;
	-webkit-font-smoothing: antialiased;
}

p {
	margin: 0 0 1em 0;
}

a {
	color: $color-primary;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.root {
  height: 100%;
}
