.panel {
  padding: 1rem;
  background-color: #fff;
  border-radius: 3px;
  border-color: #ebebeb;
  width: 100%;
  margin: 1.1rem;
}

.whole {
  composes: panel;
  flex: 1 1 calc(100% - 2.2rem);
  width: calc(100% - 2.2rem);
}

.half {
  composes: panel;
  flex: 1 1 calc(50% - 2.2rem);
  width: calc(50% - 2.2rem);
}

.third {
  composes: panel;
  flex: 1 1 calc(33.33333% - 2.2rem);
  width: calc(33.33333% - 2.2rem);
}

.quarter {
  composes: panel;
  flex: 1 1 calc(25% - 2.2rem);
  width: calc(25% - 2.2rem);
}
