.header {
  background-color: #efefef;
  padding: 0.5rem 0;
  flex: 0 0 auto;
}

.wrapper {
  composes: wrapper from 'styles/shared/layout.css';
  display: flex;
  align-items: center;
}

.title {
  font-size: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
