.default {
  background-color: #efefef;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.wrapper {
  composes: wrapper from 'styles/shared/layout.css';
  display: flex;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  > * {
    margin: 0 0.2rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
