.layoutsIndex {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.layoutList {
  background: white;
  width: 30rem;
  align-self: center;
  margin: auto;
  border: 1px solid #efefef;
  border-radius: 3px;
}

.layout {
  text-decoration: none;
  display: block;
  padding: 1rem;
  color: #383838;
  border-bottom: 1px solid #efefef;
  &:hover {
    background: rgba(239, 239, 239, 0.2);
  }
}
