.loginForm {
  background-color: #ebf0f2;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.form {
  padding: 1rem;
  background-color: #fff;
  border-radius: 3px;
  border-color: #ebebeb;
  width: 30rem;
  margin: 1.1rem;
  align-self: center;
  margin: auto;
}

.field {
  display: block;
}

.button {
  composes: secondary from 'styles/shared/colors.css';
  color: white;
  font-weight: bold;
}

.errorList {
  list-style: none;
  margin-bottom: 1rem;
}

.errorItem {
  color: red;
  font-size: 0.8rem;
}
