.button {
  color: #61bde0;
  text-decoration: none;
  border: 1px solid #61bde0;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  text-align: center;
  display: block;
}

.button:focus,
.button:hover {
  background: #61bde0;
  outline: none;
  text-decoration: none;
  color: white;
}

.button:active {
  background: #50a2c1;
  color: white;
}
