.susi {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.panel {
  padding: 1rem;
  background-color: #fff;
  border-radius: 3px;
  border-color: #ebebeb;
  width: 30rem;
  height: 20rem;
  margin: 1.1rem;
  align-self: center;
  margin: auto;
}
