.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.direction-row {
  composes: grid;
  flex-direction: row;
}

.direction-column {
  composes: grid;
  flex-direction: column;
}

.column {
  background: #226b9a;
  opacity: 0.1;
  border: 1px solid black;
  flex: 1 0 0;
  margin: 1.1rem;
}
