@each $breakpoint, $size in $grid-breakpoints {
  @include mq($from: $size) {
    @for $col from 1 through $grid-cols {
      .#{$breakpoint}-#{$col} {
        width: percentage($col / $grid-cols);
        width: calc(100% / #{$grid-cols/$col});
      }
    }
  }
}



.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
